<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Number of People</title>
</head>

<body>
    <h1>Number of People Data</h1>
    <ul>
        <% numberPeopleData.forEach(function(number) { %>
            <li>
                <%= number %>
            </li>
            <% }) %>
    </ul>
</body>

</html>