<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="search.css">
</head>
<body>
    <header>
        <h1>Search</h1>
    </header>
    <main>
        <div class="response-section">
                <h2> Question : </h2>
                <div id="response"><%= qus %></div>
            </div>
            </div>
            </div>
            </div>

            <div class="response-section">
                <h2> Answer : </h2>
                <div id="response"><%= ans %></div>
            </div>
        </div>
    </main>
    <script src="search.js"></script>
</body>
</html>
